/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/scss/bootstrap";

// Mit .scss kann man Eigenschaften anderer Klassen verwenden.

.pageTitle {
	@extend .mt-2;
	@extend .text-center;
}

.textfield {
	height: 25rem;
}

.row-spaced {
	@extend .row;
	@extend .p-4;
	@extend .m-2;

	//@extend .border;
	//@extend .border-dark;
}

.restrictHeight {
	@extend .pb-1;
	padding-top: 2.5rem;
}

.card-with-limits {
	@extend .card;

	margin-bottom: 1rem;
	margin-left: 0.5rem !important;
	margin-right: 0.5rem !important;

	min-width: 10rem;
	max-width: 10rem;
}

.scene-image {
	min-width: 10rem;
	max-width: 10rem;
}

.border-2 {
	@extend .border-dark;
	border-width: 1px;
}

.no-bg {
	background: none !important;
}

.not-clickable {
	@extend .disabled;

	&:hover {
		cursor: not-allowed;
	}
}

.clickable {

	&:hover {
		cursor: pointer;
	}
}

