<div class="text-center mt-4">
	<div class="row justify-content-center">

		<div class="col-md-4">
			<button type="button"
					class="btn btn-success"
					[ngClass]="recordingStarted ? 'not-clickable' : ''"
					[disabled]="recordingStarted"
					(click)="startRecording()">
				Start recording
			</button>
		</div>

		<div class="col-md-4">
			<button type="button"
					class="btn btn-success"
					[ngClass]="!recordingStarted ? 'not-clickable' : ''"
					[disabled]="!recordingStarted"
					(click)="stopRecording()">
				Stop recording
			</button>
		</div>
	</div>

	<audio controls="" *ngIf="this.dataService.getAudioUrl() != undefined && !recordingStarted" class="mt-3">
		<source [src]="dataService.sanitizeUrl(this.dataService.getAudioUrl())" type="audio/wav">
	</audio>
</div>
